<h1>ALL EMPLOYEE</h1>

<table class="table table-primary">
    <thead>
      <tr class="table-primary">
        <th scope="col" >_id</th>
        <th scope="col">name</th>
        <th scope="col">email</th>
        <th scope="col">password</th>
        <th scope="col">salary</th>
    
        <th scope="col">department</th>
    
      </tr>
    </thead>
    <tr *ngFor= "let e of employee">
        <td >{{e._id}}</td>
        <td>{{e.name}}</td>
        <td>{{e.email}}</td>
        <td>{{e.password}}</td>
        <td> {{e.salary}}</td>

        <td>{{e.department.name}}</td>   
    </tr>