<h1>ALL EMPLOYEE  </h1>
<label for="employee" >Choose a Range: </label>
<select name="employee" (change)="onoptionSelected(employees.value,dept,education)" #employees>
  <option value="">ALL</option>
  <option value="0-20000">0-20000</option>
  <option value="21000-30000">21000-30000</option>
</select>
<br><br>
<label for="employee" >Choose a department: </label>
<div>
<select (change)="departments($event)">
  <option value="">Select a department</option>
  <option *ngFor="let item of departmentlist" [value]="item._id">{{item.department}}</option>
</select>

</div>
<label for="employee">Chose a education</label>
<div>
<select (change)="educations($event)">
  <option value="">select education</option>
  <option *ngFor="let s of alleducation"[value]="s._id">{{s.degree}}</option>
  </select>
</div>

<br><br>


 <table class="table table-bordered">

    <thead>
      <tr >
        <th scope="col">_id</th>
        <th scope="col">name</th>
        <th scope="col">email</th>
        <th scope="col">password</th>
        <th scope="col">salary</th>
        <th scope="col">department</th>
        <th scope="col">education</th>
        
    
      </tr>
    </thead>
    <tr *ngFor= "let e of employee " >
        <td >{{e._id}}</td>
        <td>{{e.name}}</td>
        <td>{{e.email}}</td>
        <td>{{e.password}}</td>
        <td> {{e.salary}}</td>
        <td>{{e.department.department}}</td>
        <td *ngFor="let x of e.education;index as j">
          <span>{{x.degree}}</span>
        </td>
    </tr> 
